

@media  screen and (max-width: 576px) {
    .header-section,.tour-container ,.destination-img-contener1,.destination-img-contener2,.destination-img-contener3,.choose-box-container 
    ,.place-container,.newsletter-container{
        flex-direction: column;
        justify-content: center;
       
        margin-left: 50px;
  
    }
    

    .header-section{
        padding-left: 200px;
    }

    .tour-container,.img-container{
        padding-top: 30px;
    }
    .destination-container,.destination-heading{
        text-align: left;
        padding-left: 50px;
    }

    /* .destination-container,.destination-descrpition{
        text-align: left;
        padding-right: 50px;
    } */

    .destination-heading{
        padding-right: 40px;
    }


    .destination-img1{
        width: 573px;
        height: 300px;
    }

    .destination-img2{
        width: 573px;
        height: 300px;
    }

    .destination-img3{
        width: 573px;
        height: 300px;
    }
    .destination-img4{
        width: 573px;
        height: 300px;
    }
    .destination-img5{
        width: 573px;
        height: 300px;
    }

    .choose-box1{
        width: 573px;
        height: 300px;
      
    }
    .choose-box2{
        width: 573px;
        height: 300px;
      
    }
    .choose-box-container{
        margin-right: 120px;
    }


   
  
    .items-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding-left: 100px;
        gap: 20px;
    }

    .destination-heading{
      
      padding-right: 100px;
    }

   .Choose-container{
    text-align: center;
   } 


.destination-container{
    max-width: 309px;
    max-height: 72px;
     color: rgba(19, 19, 24, 0.70);
   text-align: center;
   
   font-size: 14px;
   
   font-weight: 400;
   line-height: 24px; 
   margin-left: 120px;
   padding-bottom: 30px;
   } 
.destination-descrpition{
    padding: 0 20px;
}



.choose-container{
    margin-right: 800px;
}

.Choose-contener,.choose-contener1{
   margin:0 100px
}

/* .destination-img3{
 width: 335px;
height: 500px;
flex-shrink: 0;
} */


.deals-img{
    width: 445px;
    height: 500px;
}
.deals-conatiner{
    padding-right: 100px;
    width: 50%;
       
}
.palce-content{
    width: 335px;
   
}

.place-img-container {
    margin-top: 30px;
    width: 610px;
height: 424px;


}

.newsletter-img-container{
    padding-top: 80px;
width: 335px;
height: 300px;
}
}